// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    background: linear-gradient(0deg, #2B2B2B, #2B2B2B), linear-gradient(180deg, #242424 0%, #323232 100%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    margin: 0;

    // .header__inner

    &__inner {
        min-height: var(--header-min-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_md) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        @media ($media_md) {
            width: 100%;
        }
    }

    // .header__logo

    &__logo {

        @media ($media_md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            width: 90%;
            margin: 0 auto;
        }

        @media ($media_sm) {
            width: 100%;
        }
    }

    // .header__controls

    &__controls {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 5rem;

        @media ($media_md) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto calc(var(--header-min-height) / 3);

            &[data-burger='menu'] {
                display: none; // если бургер меню активно
                width: 90%;

                @media ($media_sm) {
                    width: 100%;
                }
            }
        }

        &.searchActive {
            .header__search {
                flex-grow: 1;

                .socialMenu__icon {
                    display: none;
                }
            }

            .header__links {
                display: none;
            }

            .c-field {
                display: block;
            }
        }

        @media ($media_md) {
            .header__search {
                flex-grow: 1;

                .socialMenu__icon {
                    display: none;
                }
            }

            .header__links {
                text-align: center;
                display: block;
                border-left: none;
                border-right: none;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 1.5rem 0;
                margin: 1.5rem 0;
            }

            .c-field {
                display: block;
                margin-right: 0;

                .c-field__input {
                    padding-left: var(--inputPaddingX);
                }

                .c-field__icon--left {
                    display: none;
                }
            }

            .socialMenu {
                display: block;
            }

            .socialMenu__link {
                justify-content: center;

                &:not(:last-child) {
                    margin: 0 0 1.5rem 0;
                }
            }
        }
    }

    // .header__links

    &__links {
        flex-grow: 1;
        padding: 0 1.5rem;
        margin: 0 1.5rem;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    // .header__menu

    &__menu {
        justify-content: center;
    }

    // .header__social

    &__social {
        @media($media_lg) {
            .socialMenu__text {
                display: none
            }
        }

        @media($media_md) {
            .socialMenu__text {
                display: inline;
            }
        }
    }

    // .header__search

    &__search {
        @include cursorPointer;
        display: flex;
        align-items: center;

        .socialMenu__icon {
            margin: 0;
        }

        .c-field {
            display: none;
            margin-right: 1.5rem;
        }
    }
}

.logo {
    display: flex;

    @media ($media_xs) {
        width: 10rem;
    }

    picture {
        display: inline-flex;
    }

    // .logo__icon

    &__icon {
        
    }
}

.menu {
    display: flex;
    
    @media ($media_md) {
        flex-direction: column;
    }

    &--column {
        flex-direction: column;

        .menu__item {
            &:not(:last-child) {
                margin: 0 0 1.5rem 0;
            }
        }
    }

    // .menu__item

    &__item {

        &:not(:last-child) {
            margin-right: 2rem;

            @media ($media_xl) {
                margin-right: 1.5rem;
            }

            @media ($media_md) {
                margin: 0 0 0.5rem 0;
            }
        }

        // .menu__item--active

        &--active {

            .menu__link {
                color: $color_primary;

                &::after {
                    background-color: $color_primary;
                }
            }
        }
    }

    // .menu__link

    &__link {
        position: relative;
        display: inline-block;
        padding: 0.4rem 0;
        color: $color_white;
        text-decoration: none;

        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $color_white;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color_white;
            transform: scaleX(0);
            transition: 0.3s ease-in-out;

            @media ($media_md) {
                //content: none;
            }
        }

        &:hover {

            &::after {
                transform: scaleX(1);
            }
        }
    }
}

// === / header ===