// === Modal ===

.modal {
    position: fixed;
    top: -999px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    z-index: 21;

    padding: 2.5rem;
    border-radius: 0.25rem;
    background-color: $color_bg_modal;
    width: 25rem;
    max-height: calc(100vh - 10rem);
    display: flex;

    &--command {
        padding: 0;
        background-color: $color_bg_secondary;
        width: 70rem;

        @media ($media_lg) {
            width: 90%;
        }
    }


    &.visible {
        top: 50%;
    }

    @media ($media_xs) {
        width: 90%;
        padding: 1.5rem;
    }

    // .modal__body

    &__body {
        max-height: 80vh;
        overflow-y: auto;
    }

    // .modal__header

    &__header {
        line-height: 1.27;
        margin-bottom: 2.5rem;
    }

    // .modal__close

    &__close {
        position: absolute;
        right: 0;
        top: 0;
        height: 2rem;
        width: 2rem;
        transform: translate(0%, -140%);
        background-color: $color_tag;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $color_white;

        svg {
            fill: $color_white;
            font-size: 1rem;
        }
    }

    // .modal__content

    &__content {
        text-align: center;
    }

    // .modal__img

    &__img {
        svg {
            max-width: 10rem;
        }
    }

    // .modal__text

    &__text {
        padding: 1rem 0;
    }

    // .modal__button

    &__button {

    }

    // .modal__form

    &__form {

        .c-field {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &__input {
                width: 100%;
            }
        }

        .btn {
            width: 100%;
            justify-content: center;
            margin-top: 1rem;
        }
    }
}

// === / Modal