@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/swiper";
@import "./animations/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
@import "./components/link";
@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";
@import "./components/contentSelect";

@import "modal";
@import "header";
@import "footer";

.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 0;
    }
}

.animBlock {
    // .animBlock__items

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        @media ($media_xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }
    }

    // .animBlock__item

    &__item {
        position: relative;
        background: $color_success;
        min-height: 12vh;
        color: $color_white;
        font-size: 1.2rem;
        @include cursorPointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.fullPage {
    width: 100%;
    height: 100vh;

    // .fullPage__swiper

    &__swiper {
        width: 100%;
        height: 100%;
    }

    // .fullPage__wrapper

    &__wrapper {
        
    }

    // .fullPage__section

    &__section {
        background-color: $color_bg_main;

        // .fullPage__section--bgLight

        &--bgLight {
            background-color: $color_bg_secondary;
        }
    }

    // .fullPage__paginationWrapper

    &__paginationWrapper {
        position: relative;
    }

    // .fullPage__pagination

    &__pagination {
        position: absolute;
        transition: 0.3s ease-in-out;

        &--hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.main {

    // .main__background

    &__background {
        position: absolute;
        left: 0;
        top: 6.25rem;
        height: calc(100% - 6.25rem);
        width: 100%;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--mask {
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(90deg, #242424 0.6%, rgba(36, 36, 36, 0.6) 51.29%, rgba(36, 36, 36, 0) 70.28%);
            }
        }
    }

    // .main__container

    &__container {
        position: relative;
        //padding-bottom: 5rem;

        display: flex;
        align-items: center;
        height: 90%;
    }

    // .main__info

    &__info {
        width: 56rem;
    }

    // .main__title

    &__title {
        font-size: 3.4375rem;
        color: $color_white;
        line-height: 1.27;
        font-weight: 600;
    }

    // .main__btn

    &__btn {
        margin-top: 4rem;
    }
}

.advantages {

    // .advantages__inner

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 95%;
    }

    // .advantages__info

    &__info {
        display: flex;
    }

    // .advantages__item

    &__item {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:not(:last-child) {
            margin-right: 3.5rem;
        }
    }

    // .advantages__title

    &__title {
        
    }

    // .advantages__card

    &__card {
        margin-top: 2.5rem;
        height: 100%;
    }

    // .advantages__descr

    &__descr {
        margin-top: 2.5rem;

        font-size: 1.125rem;
        color: $color_light;
        font-weight: 500;
        line-height: 1.5;
    }
}

.projects {
    position: relative;
    height: inherit;

    // .projects__bg

    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        font-size: 25vw;
        color: $color_bg_projects;
        font-weight: 700;

        line-height: 0.9;
    }

    // .projects__container

    &__container {
        position: relative;
        display: flex;
        align-items: center;

        .pageSection__inner {
            width: 100%;
        }
    }

    // .projects__swiper

    &__swiper {
        position: relative;
        display: flex;
        align-items: center;
    }

    // .projects__header

    &__header {
        position: relative;
    }

    // .projects__cards

    &__cards {
        margin-top: 4rem;
        width: 100%;
    }

    // .projects__card

    &__card {
        height: 0;
        padding-bottom: 50%;
    }
}

.cardProject {
    position: relative;

    // .cardProject__bg

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // .cardProject__picture

    &__picture {
        width: 100%;
        height: 100%;

        &--mask {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: $color_bg_projectsCards;
            }
        }

        picture {
            //display: flex;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    // .cardProject__container

    &__container {
        position: absolute;
        bottom: 0;
        padding: 2rem 4.25rem 2rem 2rem;
    }

    // .cardProject__about

    &__about {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color_white;
        line-height: 1.45;

        padding-top: 2rem;
        border-top: 1px solid $color_card_line;
    }

    // .cardProject__author

    &__author {
        margin-top: 2rem;
    }
}

.projectAuthor {
    display: flex;
    align-items: center;

    // .projectAuthor__img

    &__img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;

        picture {
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // .projectAuthor__info

    &__info {
        color: $color_white;
        font-size: 1.25rem;

        display: flex;
        flex-direction: column;
    }

    // .projectAuthor__name

    &__name {
        font-weight: 600;
    }

    // .projectAuthor__profession

    &__profession {
        font-weight: 400;
        padding-top: 0.5rem;
    }
}

.cardPublications {
    color: $color_white;
    font-weight: 600;
    height: auto;

    display: flex;
    flex-direction: column;

    &:hover {
        .cardPublications__about {
            color: $color_primary;
        }
    }

    // .cardPublications__date

    &__date {
        font-size: 0.875rem;
        display: inline-block;
        width: 100%;

        padding-top: 1.5rem;
        border-top: 1px solid $color_card_line;
    }

    // .cardPublications__about

    &__about {
        font-size: 1.25rem;
        margin: 1.5rem 0;
        transition: 0.3s ease-in-out;
    }

    // .cardPublications__img

    &__img {
        margin-top: auto;

        picture {
            img {
                width: 100%;
            }
        }
    }
}


.publications {
    position: relative;
    height: inherit;

    // .publications__container

    &__container {
        position: relative;
        display: flex;
        align-items: center;

        .pageSection__inner {
            width: 100%;
        }
    }

    // .publications__header

    &__header {
        position: relative;
    }

    // .publications__title

    &__title {
    }

    // .publications__pagination

    &__pagination {
    }

    // .publications__cards

    &__cards {
        margin-top: 4rem;
        width: 100%;
    }

    // .publications__swiper

    &__swiper {
    }

    // .publications__card

    &__card {

    }
}

.command {

    // .command__container

    &__container {
        display: flex;
        flex-direction: column;
        height: inherit;
    }

    // .command__header

    &__header {

    }

    // .command__title

    &__title {
    }

    // .command__picture

    &__picture {
        margin: 2rem 0;
        height: 100%;
        position: relative;

        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.tag {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;

    &--reverse {
        align-items: flex-end;
    }

    // .tag__target

    &__target {
        position: relative;
        width: 2rem;
        height: 2rem;
        background-color: $color_tag;
        border-radius: 50%;
        @include cursorPointer;

        &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: $color_white;
            border-radius: 50%;
        }
    }

    // .tag__label

    &__label {
        background: $color_tag;
        backdrop-filter: blur(1rem);
        border-radius: 0.25rem;

        padding: 1.5rem;
        color: $color_white;
        display: flex;
        flex-direction: column;
    }

    // .tag__name

    &__name {
        font-weight: 600;
    }

    // .tag__profession

    &__profession {
        line-height: 1.5;
        display: inline-block;
        margin-top: 1rem;
    }
}

.commandCard {
    position: relative;

    // .commandCard__textBg

    &__textBg {
        position: absolute;
        bottom: 0;
        left: 0;

        letter-spacing: 0.02em;
        color: $color_bg_projects;

        font-size: 17rem;
        font-weight: 700;
    }

    // .commandCard__content

    &__content {
        position: relative;
        padding: 3.5rem;
        padding-right: 31rem;
    }

    // .commandCard__header

    &__header {
        padding-bottom: 1.5rem;

        .commandCard__arrow {
            transform: rotate(180deg);
        }
    }

    // .commandCard__link

    &__link {
        font-size: 0.875rem;
        font-weight: 600;
        color: $color_white;
        letter-spacing: 0.05em;

        padding-left: 1rem;
    }

    // .commandCard__body

    &__body {
        color: $color_light;
        padding: 1.5rem 0;
        border-top: 1px solid $color_card_line;
        border-bottom: 1px solid $color_card_line;
    }

    // .commandCard__about

    &__about {
        display: flex;
        flex-direction: column;
        color: $color_white;
    }

    // .commandCard__name

    &__name {
        font-weight: 600;
    }

    // .commandCard__profession

    &__profession {
        display: inline-block;
        margin-top: 0.4rem;
    }

    // .commandCard__descr

    &__descr {
        line-height: 1.5;
        margin: 1.5rem 0;
    }

    // .commandCard__list

    &__list {
        list-style-type: disc;
        padding-left: 1rem;
    }

    // .commandCard__listItem

    &__listItem {
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

    // .commandCard__footer

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 1.5rem;

        .commandCard__btn {

            &:first-child {
                .commandCard__arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }

    // .commandCard__btn

    &__btn {
        background-color: unset;
        border: none;
        @include cursorPointer;
        padding: 0;

        display: flex;
        align-items: center;

        .commandCard__about {
            align-items: start;
            margin: 0 1.5rem;
        }
    }

    // .commandCard__arrow

    &__arrow {

        picture {
            display: flex;
            width: 0.5rem;

            img {

            }
        }
    }

    // .commandCard__img

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30rem;

        picture {
            display: flex;

            img {

            }
        }
    }
}

.products {

    // .products__inner

    &__inner {
        display: flex;
        flex-direction: column;
        height: 95%;
        justify-content: center;
    }

    // .products__header

    &__header {
        display: flex;
        align-items: center;
    }

    // .products__title

    &__title {

    }

    // .products__titleCover

    &__titleCover {
        flex-grow: 1;
    }

    // .products__titleDescr

    &__titleDescr {
        min-width: 33rem;
        max-width: 33rem;
        margin-left: 2rem;
        display: inline-block;
        color: $color_white_opacity;
    }

    // .products__body

    &__body {
        display: flex;
        margin-top: 4.5rem;
    }

    // .products__content

    &__content {
        background-color: $color_bg_secondary;
    }

    // .products__item

    &__item {
        padding: 0 2px;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // .products__itemTitle

    &__itemTitle {
        color: $color_white;
        font-weight: 600;
        line-height: 1.7;
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
    }

    // .products__itemText

    &__itemText {
        color: $color_white_opacity;
        line-height: 1.5;

        span {
            display: inline-block;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    // .products__tablist

    &__tablist {
        min-width: 33rem;
        max-width: 33rem;
        margin-left: 2rem;
    }
}

.reviews {

    // .reviews__inner

    &__inner {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .reviews__header

    &__header {
        
    }

    // .reviews__body

    &__body {
        position: relative;
        margin-top: 4rem;
    }

    // .reviews__swiper

    &__swiper {

    }

    // .reviews__swiperSlide

    &__swiperSlide {
        display: flex;
        background-color: $color_bg_main;
        padding-top: 3rem;
    }

    // .reviews__person

    &__person {
        min-width: 15rem;
        max-width: 15rem;
        margin-right: 5rem;
    }

    // .reviews__content

    &__content {
        padding: 1rem 0 3.5rem 0;
        position: relative;
    }

    // .reviews__thumbsSwiper

    &__thumbsSwiper {
        width: calc(4rem * 5);
        position: absolute;
        left: 20rem;
        bottom: 0;
    }

    // .reviews__thumb

    &__thumb {
        @include cursorPointer;

        picture {
            display: inline-flex;

            img {
                border-radius: 0.3rem;
            }
        }
    }
}