@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/swiper";
@import "./animations/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
@import "./components/link";
@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";
@import "./components/contentSelect";

@import "modal";
@import "header";
@import "footer";

.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 0;
    }
}

.animBlock {
    // .animBlock__items

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        @media ($media_xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }
    }

    // .animBlock__item

    &__item {
        position: relative;
        background: $color_success;
        min-height: 12vh;
        color: $color_white;
        font-size: 1.2rem;
        @include cursorPointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.fullPage {
    width: 100%;
    height: 100vh;

    // .fullPage__swiper

    &__swiper {
        width: 100%;
        height: 100%;
    }

    // .fullPage__wrapper

    &__wrapper {

    }

    // .fullPage__section

    &__section {

    }

    // .fullPage__paginationWrapper

    &__paginationWrapper {
        position: relative;
    }

    // .fullPage__pagination

    &__pagination {
        position: absolute;
    }
}

.main {
    height: inherit;
    background-image: linear-gradient(90deg, #242424 0.6%, rgba(36, 36, 36, 0.6) 51.29%, rgba(36, 36, 36, 0) 70.28%), url(../img/bg_main_clean.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}